<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Window Browser Manager</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1F633A47-81BF-4CEA-A374-1E0CE1B3BD58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36C55A09-8CA5-48B2-83A7-061E32440763</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>674BC117-865E-452A-B323-9415279B7B71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B543999-E5AB-4AED-B7F9-62F06BA6AB5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B543999-E5AB-4AED-B7F9-62F06BA6AB5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC59186C-4624-470F-BC63-9D3942E06261</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79F0731F-CF04-4A32-93B4-C4C73C6A2CF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDEBD0C6-D32F-437E-A0A7-6A7529BB77F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9D5321B-155A-48D9-9983-3E07690EC14C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0043D8E-8D85-470C-82C9-630C34416E5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC59186C-4624-470F-BC63-9D3942E06261</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79F0731F-CF04-4A32-93B4-C4C73C6A2CF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0043D8E-8D85-470C-82C9-630C34416E5F</key>
		<array/>
		<key>FDEBD0C6-D32F-437E-A0A7-6A7529BB77F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>471F105F-8C53-4127-9AE6-D174DA24BC7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rudevio</string>
	<key>description</key>
	<string>Workflow To handle work sessions according to categories or names of a web browser, useful when working with many tabs and windows.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Windows Browser Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>wm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching Spaces</string>
				<key>script</key>
				<string>/usr/bin/python3 spaces.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>I dont Know</string>
				<key>title</key>
				<string>Windows Browser Manager</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>674BC117-865E-452A-B323-9415279B7B71</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 space_links.py $(~/Code/MISC/chromecli.o info -w) {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC59186C-4624-470F-BC63-9D3942E06261</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 add_wid.py $(~/Code/MISC/chromecli.o info -w) ${space}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FDEBD0C6-D32F-437E-A0A7-6A7529BB77F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>~/Code/MISC/chromecli.o open "https://www.google.com" -n

for link in $@
do
~/Code/MISC/chromecli.o open $link 
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79F0731F-CF04-4A32-93B4-C4C73C6A2CF0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>space</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6B543999-E5AB-4AED-B7F9-62F06BA6AB5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>471F105F-8C53-4127-9AE6-D174DA24BC7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>~/Code/MISC/chromecli.o open https://www.google.com -n
/usr/bin/python3 ./add_space.py $(~/Code/MISC/chromecli.o info -w) {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36C55A09-8CA5-48B2-83A7-061E32440763</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wm addspace</string>
				<key>subtext</key>
				<string>Put the name of space</string>
				<key>text</key>
				<string>Add a new space into spaces</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F633A47-81BF-4CEA-A374-1E0CE1B3BD58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>1048840</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A9D5321B-155A-48D9-9983-3E07690EC14C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 add_links.py $(~/Code/MISC/chromecli.o info -w) $(~/Code/MISC/chromecli.o list links -w)
~/Code/MISC/chromecli.o close -w</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C0043D8E-8D85-470C-82C9-630C34416E5F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Workflow to handle work sessions according to categories or names of a web browser, useful when working with many tabs and windows.</string>
	<key>uidata</key>
	<dict>
		<key>1F633A47-81BF-4CEA-A374-1E0CE1B3BD58</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>36C55A09-8CA5-48B2-83A7-061E32440763</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>471F105F-8C53-4127-9AE6-D174DA24BC7F</key>
		<dict>
			<key>xpos</key>
			<integer>1025</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>674BC117-865E-452A-B323-9415279B7B71</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>6B543999-E5AB-4AED-B7F9-62F06BA6AB5F</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>79F0731F-CF04-4A32-93B4-C4C73C6A2CF0</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A9D5321B-155A-48D9-9983-3E07690EC14C</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>AC59186C-4624-470F-BC63-9D3942E06261</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C0043D8E-8D85-470C-82C9-630C34416E5F</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>FDEBD0C6-D32F-437E-A0A7-6A7529BB77F9</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>rudevio.web.app</string>
</dict>
</plist>
